<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <form action="/actClassChange/2" method="post">
        <input type="text" name="all" value="0" size="12">
        <input type="text" name="item" value="1" size="12">
        <input type="text" name="item" value="2" size="12">
        <input type="text" name="item" value="3" size="12">
        <input type="text" name="item" value="4" size="12">
        <input type="text" name="item" value="5" size="12">
        <input type="text" name="item" value="6" size="12">
        <input type="text" name="item" value="7" size="12">
        <input type="text" name="item" value="8" size="12">
        <input type="text" name="item" value="9" size="12">
        <input type="text" name="item" value="10" size="12">
        <input type="text" name="item" value="11" size="12">
        <input type="submit" value="제출">
    </form>

    <form action="/indusChange/2" method="post">
        <input type="text" name="all" value="true" size="12">
        <input type="text" name="item" value="1" size="12">
        <input type="text" name="item" value="true" size="12">
        <input type="text" name="item" value="3" size="12">
        <input type="text" name="item" value="true" size="12">
        <input type="text" name="item" value="5" size="12">
        <input type="text" name="item" value="true" size="12">
        <input type="text" name="item" value="7" size="12">
        <input type="text" name="item" value="true" size="12">
        <input type="text" name="item" value="9" size="12">
        <input type="text" name="item" value="true" size="12">
        <input type="submit" value="제출">
    </form>
  </body>
</html>